/* ! Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* !       */
/* ! Reset */
/* !       */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

/* !           */
/* ! Variables */
/* !           */
:root {
  /* Colors */
  --color-light-default: #ffffff;
  --color-light-50: #f9fafb;
  --color-light-100: #f3f4f6;
  --color-light-200: #e5e7eb;
  --color-light-300: #d1d5db;
  --color-light-400: #9ca3af;
  --color-light-500: #6b7280;
  --color-light-600: #4b5563;
  --color-light-700: #374151;
  --color-light-800: #1f2937;
  --color-light-900: #111827;
  --color-light-950: #030712;

  --color-dark-default: #030712;
  --color-dark-50: #111827;
  --color-dark-100: #1f2937;
  --color-dark-200: #374151;
  --color-dark-300: #4b5563;
  --color-dark-400: #6b7280;
  --color-dark-500: #9ca3af;
  --color-dark-600: #d1d5db;
  --color-dark-700: #e5e7eb;
  --color-dark-800: #f3f4f6;
  --color-dark-900: #f9fafb;
  --color-dark-950: #ffffff;

  --color-emerald: #10b981;


  /*  Fonts */
  --font-family: 'Inter', sans-serif;


  /* Font Size */
  --fs-desktop-h1: 3.75rem;
  --fs-desktop-h2: 2.25rem;
  --fs-desktop-h3: 1.875rem;

  --fs-tablet-h1: 3rem;
  --fs-mobile-h1: 2.25rem;

  --fs-tablet-mobile-h2: 1.125rem;
  --fs-tablet-mobile-h3: 1.5rem;
  --fs-tablet-mobile-subtitle: 1.125rem;
  --fs-tablet-mobile-body1: 1rem;

  --fs-all-screens-subtitle: 1.25rem;
  --fs-all-screens-body1: 1.125rem;
  --fs-all-screens-body2: 1rem;
  --fs-all-screens-body3: 0.875rem;


  /* Font Weight */
  --fw-desktop-h1: 700;
  --fw-desktop-h2: 600;
  --fw-desktop-h3: 600;

  --fw-tablet-h1: 700;

  --fw-mobile-h1: 600;

  --fw-tablet-mobile-h2: 600;
  --fw-tablet-mobile-h3: 600;
  --fw-tablet-mobile-medium-body: 500;
  --fw-tablet-mobile-semi-bold-body: 600;
  --fw-tablet-mobile-subtitle: 400;
  --fw-tablet-mobile-normal-body: 400;


  /* Line Height */
  --lh-desktop-h1: 4.5rem;
  --lh-desktop-h2: 2.5rem;
  --lh-desktop-h3: 2.25rem;

  --lh-tablet-h1: 3rem;
  --lh-mobile-h1: 2.25rem;

  --lh-all-screens-subtitle: 1.75rem;

  --lh-all-screens-body1-2: 1.5rem;
  --lh-all-screens-body3: 1.25rem;

  /* Letter Spacing */
  --ls-desktop-h1: -0.125rem;
  --ls-desktop-h2: -0.125rem;
  --ls-desktop-h3: -0.125rem;

  --ls-tablet-h1: -0.125rem;

  --ls-tablet-mobile-h3: -0.125rem;


  /*  Shadow */
  --shadow-md: 0 4px 3px 0px rgba(0, 0, 0, 0.07), 0 2px 2px 0px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 4px 3px 0px rgba(0, 0, 0, 0.1), 0 10px 8px 0px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 25px 0px rgba(0, 0, 0, 0.15);
}

/* !        */
/* ! Global */
/* !        */
.container {
  margin: 0 18.75rem;
  padding: 0 2rem;
}

.section-title {
  font-size: var(--fs-all-screens-body3);
  font-weight: var(--fw-tablet-mobile-medium-body);
  line-height: var(--lh-all-screens-body3);
  color: var(--color-light-600);
  text-align: center;
  background-color: var(--color-light-200);
  border-radius: 12px;
  padding: 0.25rem 1.25rem;
  width: fit-content;
  margin: 0 auto;
}


