@use '../design_system/variables' as var;
@use './media-queries' as mq;

// Header styles
.site-header-container {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100dvw;
  backdrop-filter: blur(20px);
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a {
      font-size: map-get(var.$font-sizes, 'desktop-h3');
      font-weight: map-get(var.$font-weights, 'desktop-h1');
      line-height: map-get(var.$line-heights, 'all-screens-body1-2');
      text-decoration: none;
      color: var(--color-900);
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;

  .head {
    display: none;
  }
}

.nav-links {
  display: flex;
  gap: 1.5rem;

  li {
    list-style: none;
  }

  a {
    color: var(--color-600);
    font-size: map-get(var.$font-sizes, 'all-screens-body2');
    font-weight: map-get(var.$font-weights, 'tablet-mobile-normal-body');
    line-height: map-get(var.$line-heights, 'all-screens-body1-2');
    text-decoration: none;

    &:hover {
      color: var(--color-900)
    }
  }

  &::after {
    content: '';
    display: block;
    height: 1.5rem;
    width: 2px;
    background-color: var(--color-100);
  }
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 0.5rem;

  .theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.375rem;
    border-radius: 8px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &:hover {
      background-color: var(--color-100);
    }
  }

  .download-cv {
    background-color: var(--color-900);
    color:  var(--color-50);
    padding: 0.375rem 1rem;
    border-radius: 12px;
    font-size: map-get(var.$font-sizes, 'all-screens-body2');
    font-weight: map-get(var.$font-weights, 'tablet-mobile-semi-bold-body');
    line-height: map-get(var.$line-heights, 'all-screens-body1-2');
    text-decoration: none;
    text-wrap: nowrap;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: var(--color-700);
    }
  }
}

#menu-burger-icon, #close-button-icon {
  cursor: pointer;

  #close-button-icon {
    display: none;
  }
}

// Media queries
@media screen and (max-width: mq.$Mobile) {
  .navigation {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    background-color: var(--color-default);
    z-index: 1001;
    transform: translateX(100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: map-get(var.$shadows, '2xl');
    transition: transform 0.3s ease;
  }

  .navigation.open {
    display: flex;
    transform: translateX(0);
  }


  .navigation .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
  }

  .navigation .head h3 {
    font-size: map-get(var.$font-sizes, 'desktop-h3');
    font-weight: map-get(var.$font-weights, 'desktop-h3');
    line-height: map-get(var.$line-heights, 'desktop-h3');
    color: var(--color-900);
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links::before {
    content: '';
    display: block;
    height: 2px;
    width: 100vw;
    background-color: var(--color-100);

  }

  .nav-links::after {
    height: 2px;
    width: 100vw;
  }

  .nav-actions {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .theme-toggle::before {
    content: 'Switch Theme';
    font-size: map-get(var.$font-sizes, 'all-screens-body2');
    font-weight: map-get(var.$font-weights, 'tablet-mobile-medium-body');
    line-height: map-get(var.$line-heights, 'all-screens-body2');
    color: var(--color-600);
  }
}
